/* My First CSS File*/

.nav{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;    
    align-items: center;
    border: 0px dotted yellow;
    margin-bottom: 1rem;
    padding-top: 3px;
}
/*ABCD*/
.nav li{
    padding: 0;
    list-style-type:none;
    flex-basis: 10%;
           
}


.nav a{
    display: block;
    height: 2.5rem;
    padding:.5rem 1rem;
    background-color: #486587;
    text-align: center;
    border-radius: 4px;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    text-rendering: optimizelegibility;
    font-weight: 600;
    letter-spacing: 1.17px;
    line-height: 20px;
    margin: 20px 0;
    padding: 10px 15px;
    transition: background-color 400ms;
}

.nav a:hover{
    background-color: #1A3F69;
    color: white;
}

.nav a:link{
    color: white;
    font-style: normal;

}
.nav a:visited{
    color: white;
}

/*bottom navigation bar*/

/* My First CSS File*/

.nav-bottom{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: none
}
/*ABCD*/
.nav-bottom li{
    padding: 0;
    list-style-type:none;
    flex-basis: 5%;
           
}


.nav-bottom a{
    display: block;
    padding:.5rem 1rem;
    text-align: center;
    border: none
}

.nav-bottom a:hover{
    border: none;
}

.nav-bottom a:link{
    border: none;

}
.nav-bottom a:visited{
    border: none;
}
/* background image has been removed */
body{
    
    font-family: 'Freight Sans LF Pro Light', Helvetica, Arial, sans-serif !important;
    text-rendering: optimizelegibility;
    font-weight: 300;
    letter-spacing: .01em;
    background-color: #D1D9E1 ;
    margin-left: 40px;
    color: rgb(17, 17, 75);
   
}

h1{
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid red;
    margin: 0 0 1rem 0;
    padding: 0;
}

.border{ 
    padding: 10px;
    border:3px solid #021a40;
    background-color: #F2E3B3;
}

.home-image{
    max-width: 90%;
    height: auto;
}

.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centretxt{
    text-align: center;
}

p a:visited{
    text-decoration: none;
}

a:link{
    text-decoration: none;
    font-weight: bolder;
}

p a:hover{
    color: blue;
    text-decoration: none;
}

.floatright{
    float: right;
    border: 2px solid red;
    margin:1rem 0rem 1rem 1rem;
}
/* TRouBLe */
.floatleft{
    float: left;
    border: 2px solid red;
    margin:0 1rem 1rem 0 ;
}

article{
    border: 2px solid red;
    width: 30rem;
    margin: 0 auto;
}
article:after{
    content: "";
    display: table;
    clear: both;
}
.image-row{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.image-row li{
    list-style-type:none;
}

.wrapper {
    border-radius: 4px;
    margin: 2rem auto 2rem auto;
    width: 200px;
    border: .6rem solid #A3B2C3;
    background-color: black;
    color: white;
    padding: .3rem;
}
.wrapper:hover{
    border-color: #768CA5;
    transition: border-color 500ms;
}
.calc-button-row{
    border: 0px solid blue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-buttons{
    border: solid green 0px;
}
.calc-button{
    border: rgb(158, 129, 129) 1px solid;
    margin: 0;
    background-color: #d8d9db;
    color: black;
    border:none;
    font-size: 20px;
    border: none;
    height: 50px;
    flex-basis: 24.5%;
}

.calc-button:hover {
    background-color: #ebebeb;
    transition: background-color 500ms;

}

.calc-button:active{
    background-color: #bbbcbe;
}


.screen {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 2.5px;
    font-size: 20px;
}

.double{
    flex-basis: 49.65%;
}
.tripple{
    flex-basis: 74.8%;
}

.calc-button:last-child {
    background-color: #df974c;
    color: white;
}

.calc-button:last-child:hover{
    background-color: #dfb07e;

}

.calc-button:last-child:active{
    background-color: #dd8d37;
}
.container {
    margin: auto auto;
    width: 10rem;
    height: 14rem;
    text-align: center;
    border: bold 2px green;
    width: 100%;
}

.color-box {
    
    border-radius: 4px;
    width: 16rem;
    height: 16rem;
    background-color: white;
    margin: 2rem auto;
    font-family: 'Courier New', Courier, monospace;
}
.color-name {
    display: block;
    margin: 1rem auto;
    border: 2px solid black;
    width:10rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.image-gallary img{
    display: none;
    max-height: 400px;
    width: auto;
    border-radius: 4px;
}
.active{
    display: block;
}

.image-gallary{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-bottom: 1rem;

}

.btns{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn{
    background-color: #0074d9;
    color: white;
    padding: .2rem 2rem;
    font-size: 1rem;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.prev{
    margin-right: 15px;
}

.btn:disabled{
    background-color: #777;
    cursor: not-allowed;
}

.swiper-container {
    width: 80%;
    margin: 0 auto;
    height: 450px;
}
.swiper-slide {
    text-align: center;
}
  
.swiper-container img {
    max-height: 400px;
    width: auto;
    margin: 1rem;
}

body{
    padding: auto;
    margin: 0;
}

/* .box{
    margin: 0 auto;
    cursor: grab;
    text-align: center;
    position: relative;
    z-index: 10;
    border-radius: 50%;
    height: 10rem;
} */

.box{
    float: left;
    margin: 0 auto;
    cursor: grab;
    text-align: center;
    position: relative;
    z-index: 10;
    border-radius: 50%;
    border: 2px solid #A3B2C3;
    height: 10rem;
    margin: 0 1rem 1rem 0;
    padding: .7rem;
}

.box:hover{
    
    border-color: #768CA5;
    transition: border-color 500ms;
    
}

.about-content{
    width: 75%;
    margin:0 auto 2rem auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 4px;
    border:  0px solid;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

/* Color Theme Swatches in Hex */
.tableau-couleurs-pastels-1-hex { 
    color: #F28599; 
}
.tableau-couleurs-pastels-2-hex { color: #DDCEF2; }
.tableau-couleurs-pastels-3-hex { color: #BBE7D6; }
.tableau-couleurs-pastels-4-hex { color: #F2E3B3; }
.tableau-couleurs-pastels-5-hex { color: #F2B694; }
