/* My First CSS File*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5%;
    background-color: #2D61A6;
    color: white;
}

header h1{
    margin: 1rem 3%;
}

header img{
    margin-right: 3%;
}
header ul{
    display: flex;
    flex-flow: column nowrap;
    margin-right: 3%;
}

.main-header{
    justify-content: flex-end;
    background-color: #3D61A6;
    display: none;
}

.mobile-bar{
    /* border-bottom: 1px solid black; */
}

.nav-button:hover{
    cursor: pointer;

}

.toggle{
    display: none;
}

header li{
    list-style-type: none;
}

.nav a{
    text-decoration: none;
    color:white;
    display: block;
    margin-left: 2em;
    text-align: center;
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-size: 14px;
    text-rendering: optimizelegibility;
    font-weight:550;
    letter-spacing: 1.17px;
    line-height: 20px;
    width: max-content;
}

.nav a:link{
    color: white;
    font-style: normal;

}
.nav a:visited{
    color: white;
}

.nav a:hover{
    color:#BBE7D6;;
}

/*bottom navigation bar*/

/* My First CSS File*/

.nav-bottom{ 
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    border: none
}
/*ABCD*/
.nav-bottom li{
    padding: 0;
    list-style-type:none;
    flex-basis: 5%;           
}


.nav-bottom a{
    display: block;
    margin:1.5rem 1rem;
    text-align: center;
    border: none;
}

.nav-bottom a:hover{
    border: none;
}

.nav-bottom a:link{
    border: none;

}
.nav-bottom a:visited{
    border: none;
}

.nav-bottom img{
    height: 2rem ;
    width: 2rem ;
}
/* background image has been removed */
body{
    
    font-family: 'Freight Sans LF Pro Light', Helvetica, Arial, sans-serif !important;
    text-rendering: optimizelegibility;
    font-weight: 300;
    letter-spacing: .01em;
    background-color: #D1D9E1 ;
    margin-left: 40px;
    color: rgb(17, 17, 75);
   
}

h1{
    padding: .5rem;
    margin-left: auto;
    margin-right: auto;
    border: 0px solid red;
    margin: 0 0 1rem 0;
    padding: 0;
}

.border{ 
    padding: 10px;
    border:3px solid #021a40;
    background-color: #F2E3B3;
}

.home-image{
    max-width: 90%;
    height: auto;
}

.centre{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.centretxt{
    text-align: center;
}

p a:visited{
    text-decoration: none;
}

a:link{
    text-decoration: none;
    /* font-weight: bolder; */
}

p a:hover{
    color: blue;
    text-decoration: none;
}

.floatright{
    float: right;
    border: 2px solid red;
    margin:1rem 0rem 1rem 1rem;
}
/* TRouBLe */
.floatleft{
    float: left;
    border: 2px solid red;
    margin:0 1rem 1rem 0 ;
}

article{
    border: 2px solid red;
    width: 30rem;
    margin: 0 auto;
}
article:after{
    content: "";
    display: table;
    clear: both;
}
.image-row{
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.image-row li{
    list-style-type:none;
}
.calculator-container{
    width: 100%;
    height: 100%;
}
.wrapper {
    border-radius: 4px;
    margin: 2rem auto 2rem auto;
    width: 200px;
    border: .6rem solid #A3B2C3;
    background-color: black;
    color: white;
    padding: .3rem;
}
.wrapper:hover{
    border-color: #768CA5;
    transition: border-color 500ms;
}
.calc-button-row{
    border: 0px solid blue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-bottom: 0.5%;
}

.calc-buttons{
    border: solid green 0px;
}
.calc-button{
    border: rgb(158, 129, 129) 1px solid;
    margin: 0;
    background-color: #d8d9db;
    color: black;
    border:none;
    font-size: 20px;
    border: none;
    height: 50px;
    flex-basis: 24.5%;
}

.calc-button:hover {
    background-color: #ebebeb;
    transition: background-color 500ms;

}

.calc-button:active{
    background-color: #bbbcbe;
}


.screen {
    text-align: right;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 2.5px;
    font-size: 20px;
}

.double{
    flex-basis: 49.65%;
}
.tripple{
    flex-basis: 74.8%;
}

.calc-button:last-child {
    background-color: #df974c;
    color: white;
}

.calc-button:last-child:hover{
    background-color: #dfb07e;

}

.calc-button:last-child:active{
    background-color: #dd8d37;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    margin: auto auto;
    width: 16rem;
    height: 22rem;
    text-align: center;
    /* border: 2px solid red; */
    width: 100%;
}
.color-box-container{
    width: 100%;
    height: 100%;
}
.color-box {
    
    border-radius: 4px;
    width: 16rem;
    height: 16rem;
    background-color: white;
    margin: 2rem auto;
    font-family: 'Courier New', Courier, monospace;
}
.color-name {
    display: block;
    margin: 1rem auto;
    /* border: 2px solid black; */
    width:10rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.gallary-image{
    display: none;
    max-height: 400px;
    border-radius: 4px;
    max-width: 90%;
}
.active{
    display: block;
}

.image-gallary{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 400px;
}

.btns{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.btn{
    background-color: #0074d9;
    color: white;
    padding: .2rem 2rem;
    font-size: 1rem;
    border-color: transparent;
    border-radius: 4px;
    cursor: pointer;
}

.prev{
    margin-right: 15px;
}

.btn:disabled{
    background-color: #777;
    cursor: not-allowed;
}

.swiper-container {
    width: 100%;
    margin: 0 auto;
    height: 450px;
    vertical-align: center;
}
.swiper-slide {
    display: flex;
    /* text-align: center;
    vertical-align: center; */
    align-items: center;
    justify-content: center;

}
  
.everest-img {
    max-height: 400px;
    max-width: 100%;
    margin: 1rem;
    margin: auto;
}

body{
    padding: auto;
    margin: 0;
}

/* .box{
    margin: 0 auto;
    cursor: grab;
    text-align: center;
    position: relative;
    z-index: 10;
    border-radius: 50%;
    height: 10rem;
} */

.box{
    float: left;
    margin: 0 auto;
    cursor: grab;
    text-align: center;
    position: relative;
    z-index: 10;
    border-radius: 50%;
    border: 2px solid #A3B2C3;
    height: 10rem;
    margin: 0 1rem 1rem 0;
    padding: .7rem;
}

.box:hover{
    
    border-color: #768CA5;
    transition: border-color 500ms;
    
}

.about-content{
    width: 75%;
    margin:2% auto 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 4px;
    border:  0px solid;
    box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

@keyframes spin{
    to{
        transform: rotateZ(360deg);
    }
}
.doggos{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: center;
}

.spinner{
    font-size: 50px;
    text-align: center;
    animation: 2s spin linear infinite;
    display: none;
    margin: auto;
}

.dog-img{
    /* height: 350px; */
    max-height: 350px;
    width: auto;
    display: none;
    margin: 0 auto;
}

.show{
    display: block;
}

.breeds{
    display: block;
    margin: 1rem auto;
    /* border: 2px solid black; */
    width:10rem;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

@keyframes change {
    0%   {background: red;}
    10%  {background: green;}
    20%  {background: blue;}
    30%  { background: yellow;}
    40% {background: crimson;}
    50%   {background: red;}
    60%  {background: green;}
    70%  {background: blue;}
    80%  { background: yellow;}
    90% {background: brown;}
    100%{background: crimson;}
}

.background{
    height:1080px ;
    max-height: 100vh;
    width:auto;
    background-image: url(../images/background.png);
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    justify-content:center;
    margin: auto;
    cursor: url(../images/cursor.png), auto;
}

.win-box{
    display: none;
    z-index: 8;
    margin: auto;
}

.worm-box{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    width: 100%;
    text-align: center;
}


.worm{
    
    text-align: left;
    width: 1660px;
    max-width: 90vw;
    overflow: hidden;
    transition: width 0.5s ease-in-out;
}

.score-box{
    width: 30rem;
    height: 10rem;
    margin-bottom: -11rem;
    margin-top: 1rem;
    background-color: transparent;
    z-index: 10;
    border-radius: 10px;
    text-align: center;
    color: white;
}

.worm-img{
    width: 1660px;
    max-width: 90vw;
}

.mole-box{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    background-color: black;
    flex-basis: 14%;
    margin:.5% 4%;
    border: 2px solid red;
}

.mole-img{
    display: block;
    height: 105%;
    width: 105%;
    display: none;
}
.show-mole{
    display: block;
    cursor: url(../images/cursor.png), auto;
}
.show-hungry{
    display: block;
    cursor: url(../images/cursor-worm.png),auto;
}

.button-container{
    width: 100%;
    text-align: center;
    z-index: 9;
}

.start-button{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    color: blanchedalmond;
    background-color: crimson;
    margin: auto;
}

@media (min-width:900px){
    .main-header{
        justify-content: space-between;
        background-color: #2D61A6;
        display: flex;
    }
    .toggle{
        display: block;
    }
    .mobile-bar{
        display: none;
    }

    header ul{
        display: flex;
        justify-content: flex-end;
        /* border: 2px white solid; */
        flex-flow: row wrap;
        margin-right: 3%;
    }
}

.start-button a:hover{
    color: white;
}

.start-button a:link{
    color: white;
    font-style: normal;

}
.start-button a:visited{
    color: white;
}

/* Color Theme Swatches in Hex */
.tableau-couleurs-pastels-1-hex { 
    color: #F28599; 
}
.tableau-couleurs-pastels-2-hex { color: #DDCEF2; }
.tableau-couleurs-pastels-3-hex { color: #BBE7D6; }
.tableau-couleurs-pastels-4-hex { color: #F2E3B3; }
.tableau-couleurs-pastels-5-hex { color: #F2B694; }
